extends ../parts/layout.jade
block vars
    - page = 'Users';
block main
    .main-heading
        .main-title
            ol.breadcrumb
                li
                    a(href="./index.jade") Principal
                li.active Usuarios
        .main-filter
            form.main-filter__search
                .input-group
                    input.form-control(type="text", placeholder="Search...")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            .fa.fa-search
    .container-fluid.half-padding
        .template.template__table_data
            
                .row
                    
                    .col-md-12
                        .panel.panel-info
                            .panel-heading
                                h3.panel-title Usuarios
                                button(class="btn btn-primary"  data-toggle="modal" onclick="NuevoUsuario()") Nuevo
                                    i(class="fa fa-plus-circle fa-fw") 
                                                                  
                            .panel-body
                                div(id="DatosUsuario")
                                
                                .container-fluid
                                                    table(id="example" class="table datatable display table-hover" cellspacing="0" width="100%")
                                                        thead
                                                            tr
                                                                th Nombres
                                                                th Email
                                                                th Password
                                                                th Ubicacion
                                                                th Estado
                                                        tbody
                                                            each Usuarios in usuarios
                                                                tr
                                                                    td=Usuarios.name
                                                                    td=Usuarios.email
                                                                    td=Usuarios.password
                                                                    td=Usuarios.ubicacion
                                                                    td=Usuarios.estado
                                                                                                                                            
                                                
                                    
block css
    link(href='../source/libs/datatables/media/css/dataTables.bootstrap.min.css', rel='stylesheet')
    link(href='../source/libs/selectize/dist/css/selectize.default.css', rel='stylesheet')
    link(href='../source/libs/selectize/dist/css/selectize.bootstrap3.css', rel='stylesheet')
    link(href='../source/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css', rel='stylesheet')
    link(href='../source/libs/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css', rel='stylesheet')
    link(href='../source/libs/bootstrap-select/dist/css/bootstrap-select.min.css', rel='stylesheet')
block js
    script(src='../source/libs/datatables/media/js/jquery.dataTables.min.js')
    script(src='../source/libs/datatables/media/js/dataTables.select.js')
    script(src='../source/libs/datatables/media/js/dataTables.bootstrap.js')
    script(src='../source/libs/selectize/dist/js/standalone/selectize.min.js')
    script(src='../source/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
    script(src='../source/libs/bootstrap-select/dist/js/bootstrap-select.min.js')

    if !release
        script(src='../source/js/myjava.js')
