div(class="modal fade" id="myModalCarro" name="myModalCarro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")

    div(class="modal-dialog")

        div(class="modal-content")

            div(class="modal-header")

                button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;

                h4(class="modal-title" id="myModalLabel") Modificar Vehiculo 
            div(class="modal-body")

                     div(id="mensaje" name="mensaje")
                form.form.users-new(action="JavaScript:ModificarCarro('#{carro[0].idcarro}')" method="post" id="formNuevoCarro" name="formNuevoCarro")
                                                .container-fluid.float-left
                                                    .row
                                                            .col-md-12
                                                                    .form-group
                                                                        .input-group
                                                                            .input-group-addon
                                                                                i.fa.fa-user
                                                                            input.form-control(name="placa", type="text", placeholder="Placa" value="#{carro[0].placa}" required)
                                                                    .form-group
                                                                        .input-group
                                                                            .input-group-addon
                                                                                i.fa.fa-user
                                                                            select.form-control(id="idlinea" name="idlinea")
                                                                                each Lineas in lineas                                
                                                                                    option(value="#{Lineas.idlinea}" selected="#{Lineas.idlinea}"=="#{carro[0].idlinea}") #{Lineas.nombre}
                                                                    .form-group
                                                                        .input-group
                                                                            .input-group-addon
                                                                                i.fa.fa-user
                                                                            input.form-control(name="chofer", type="text", placeholder="Chofer" value="#{carro[0].chofer}" required)
                                                                    .form-group
                                                                        .input-group
                                                                            .input-group-addon
                                                                                i.fa.fa-user
                                                                            input.form-control(name="dni", type="text", placeholder="DNI" value="#{carro[0].dni}")
                                                                    
                                                    div(class="modal-footer")
                                                                                                            
                                                                                                    
                                                                                                
                                                        button.btn.btn-default(type="button", data-dismiss="modal") Cerrar
                                                        button.btn.btn-primary(type="submit") Guardar 